@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter.woff') format('woff');
}

body {
  background-color: #f8f8f8;
  font-family: sans-serif, "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.smooth-transition {
  transition: all 0.3s ease-in-out;
}
.parallax {
  position: relative;
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax::before {
  content: '';
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: linear-gradient(90deg, #f8f8f8 0%, transparent 10%, transparent 90%, #f8f8f8 100%);
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 80px;
}

.react-tel-input .form-control {
  width: 100% !important;
  height: auto !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.react-tel-input .selected-flag {
  background-color: transparent !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: transparent !important;
}

.react-tel-input .country-list {
  margin-top: 0 !important;
}


.react-tel-input .selected-flag {
  
  width: 50px !important;
}

.react-tel-input .flag-dropdown {
  background-color: transparent !important;
  border-color: #0000000D !important;
}