@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.smooth-transition {
  transition: all 0.3s ease-in-out;
}
.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

.react-tel-input .form-control {
  width: 100% !important;
  height: auto !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.react-tel-input .selected-flag {
  background-color: transparent !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: transparent !important;
}

.react-tel-input .country-list {
  margin-top: 0 !important;
}
